h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
  padding-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

ul input {
  float: left;
  width: 40px;
}

ul img {
  float: right;
  height: 40px;
  width: 40px;
}

ul li {
  float: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
  border: 3px solid #F98F86;
  border-radius: 4px;
  color: #F98F86;
  text-align: center;
  padding: 14px 16px;
  width: 100px;
  text-decoration: none;
}

li a:hover{
  border-color: #F43423;
}

#title{
  position: fixed;
  left: 50%;
  margin-left: -250px;
}

.headers {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  overflow-x: hidden;
}

.triangle-back {
	width: 0;
  height: 0;
	border-top: 0px solid #555;
  border-left: 50px solid #555;
	border-bottom: 50px solid transparent;
  float: left;
  position: fixed;
  left: 2%
}

.data{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:15px;
  padding-top: 0px;
  text-align: center;
}

.x-axis {
  font: 12px sans-serif;
}
.x-axis path,
.x-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y-axis {
  position: fixed;
  float: left;
  font: 12px sans-serif;
}
.y-axis path,
.y-axis line {
  position: fixed;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

div.triangle-back:hover{
  border-top: 0px solid #7FFFD4;
  border-left: 50px solid #7FFFD4;
}

.filters{
  position: fixed;
  right: 2%;
}

.arrows{
  font: 30px "Helvetica Neue";
  text-anchor: middle;
  font-weight: bold;
}
